hr{;width: }

#pro_detail{border-left:solid 1px;border-right:solid 1px;border-bottom: solid 1px;border-radius: 10%;padding: 5px;padding-bottom: 110px;border-color: #006633;}
#pro_detail .id{width: 100%;text-align: center;}
#pro_detail .id span{font-size: 20px;}

#pro_detail .title{width: 100%;padding: 5px;text-align: center;}
#pro_detail .title span{font-size: 30px;}

#pro_detail .limit{width: 100%;text-align: center;padding-bottom:20px;}
#pro_detail .limit .time_lim{display: inline-block;}
#pro_detail .limit .mem_lim{padding-left: 20px;display: inline-block;}

#pro_detail .ratio{width: 100%;text-align: center;padding-bottom:20px;}
#pro_detail .ratio span{padding-left: 20px;}

#pro_detail .des{padding: 2px;font-size: 20px;color: #003366}

#panel_submit{width: 1000px;margin: 20px;text-align: center;}
#panel_submit span{font-size: 15px;color: #006633}

#pro_submit{width: 1000px;margin-top: 20px;}
#pro_submit textarea{width: 1000px;height: 500px;border: solid 1px;}
#pro_submit button{margin-top: 20px;width: 500px;height:33px;border: solid 1px;}
#pro_submit button:hover{font-size: 20px;}
