#search_problem span{font-size: 10px;}
#search_problem #search{font-size: 15px;}

#tab_problem{font-size: 15px;width: 1000px;text-align: center;table-layout : fixed ; border-collapse:collapse;}
#tab_problem td{white-space:nowrap; overflow:hidden; } 
#tab_status tr{border-bottom: solid 1px;}

#tab_problem .tab_pro_head{font-size: 15px;width: 900px;}
#tab_problem .status{font-size: 15px;width: 100px;border-bottom: solid 1px;}
#tab_problem .status .ac{color: green;}
#tab_problem .status .wrong{color: red;}
#tab_problem .id{font-size: 15px;width: 100px;border-bottom: solid 1px;}
#tab_problem .title{font-size: 15px;width: 500px;border-bottom: solid 1px;}
#tab_problem .ratio{font-size: 15px;width: 150px;border-bottom: solid 1px;}
#tab_problem .date{font-size: 15px;width: 150px;border-bottom: solid 1px;}

