<html lang="zh-cn">
<head> 
<meta charset="utf-8" /> 
<!-- 禁用IE兼容模式 --> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<!-- 响应式布局 --> 
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<!-- 使部分国产浏览器采用默认高速的方法访问 --> 
<meta name="renderer" content="webkit" /> 
<meta name="description" content="" /> 
<meta name="keywords" content="" /> 
<title>题目列表－{$Think.config.sitename}</title> 
<!-- 让IE低版本浏览器兼容html5元素，实现响应式布局 --> 
<!--[if lt IE 9]>
    		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]--> 
</head> 
<body>
  <!--　页头　--> 
<include file="default/head"/> 
<link rel="stylesheet" href="{$Think.config.viewdefault}/css/problem/index.css" /> 
<!--　页头　--> 
<div class="main">
<div class="top">
	<a href="{:U('problem/add')}"><button id="add_pro">新建题目</button> </a>
</div>
<table id="tab_problem">
	<tr>
		<th class="id"></th>
		<th class="id">题目ID</th>
		<th class="title">题目标题</th>
		<th class="time_lim">时间限制</th>
		<th class="mem_lim">空间限制</th>
		<th class="date">时间</th>
		<th class="status">状态</th>
		<th class="action"></th>
	</tr>
	<volist name="info_pro" id="info">
		<tr>
			<td class="id">
				<a id="{$info.pro_id}" href="{:U('problem/delpro')}?pro_id={$info.pro_id}" class="warning">	删除
				</a>
			</td>
			<td class="id">{$info.pro_id}</td>
			<td class="title">{$info.title}</td>
			<td class="time_lim">{$info.time_lim} ms</td>
			<td class="mem_lim">{$info.mem_lim} kb</td>
			<td class="date">{$info.date}</td>
			<td class="status">
				<?php if ("open" == $info["status"]): ?>
					<span class="open">开启</span>
				<?php else: ?>
					<span class="close">关闭</span>
				<?php endif ?>
			</td>
			<td class="action">
				<a href="{:U('problem/update')}?pro_id={$info.pro_id}">修改信息</a>
				<a href="{:U('problem/changestatus')}?pro_id={$info.pro_id}&status={$info.status}">更改状态</a>
				
			</td>
		</tr>
	</volist>
</table>
</div>
<!--　页脚　--> 
<include file="default/foot"/> 
<!--　页脚　-->  
<script src="{$Think.config.viewdefault}/js/problem/index.js"></script>
</body>
</html>