<html lang="zh-cn">
 <head> 
  <meta charset="utf-8" /> 
  <!-- 禁用IE兼容模式 --> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 响应式布局 --> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <!-- 使部分国产浏览器采用默认高速的方法访问 --> 
  <meta name="renderer" content="webkit" /> 
  <meta name="description" content="" /> 
  <meta name="keywords" content="" /> 
  <title>排行榜 -- 竞赛{$contest_id}－{$Think.config.sitename}</title> 
  <!-- 让IE低版本浏览器兼容html5元素，实现响应式布局 --> 
  <!--[if lt IE 9]>
      		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]--> 
 </head> 
 <body> 
  <!--　页头　--> 
  <include file="default/head"/> 
  <link rel="stylesheet" href="{$Think.config.viewdefault}/css/contest/rank.css" /> 
  <!--　页头　--> 
  <div class="main">
  <include file="default/contest/nav"/> 
  <table id="tab_rank">
    <tr>
      <th class="user">用户</th>
      <th class="time">用时</th>
      <volist name="info_pro" id="info">
        <th>题目{$info.pro_id}({$info.title})</th>
      </volist>
    </tr>  
    <volist name="info_user" id="info">
      <tr>
        <td class="user">{$info.nickname}</td>
        <td class="time">{$info.pro.time_ac} min</td>
        <volist name="info_pro" id="info_p">
          <td>
              <?php  
                $result = $info["pro"][$info_p["pro_id"]];
                if("wa" != $result){
                  echo "<div class='active'>Accepted (".$result." min) </div>";
                }
            ?>
          </td>
        </volist>
      </tr>
    </volist>
  </table>
  </div>
  <!--　页脚　--> 
  <include file="default/foot"/> 
  <!--　页脚　-->  
  <script src="{$Think.config.viewdefault}/js/index.js"></script>
 </body>
</html>