<html lang="zh-cn">
 <head> 
  <meta charset="utf-8" /> 
  <!-- 禁用IE兼容模式 --> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 响应式布局 --> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <!-- 使部分国产浏览器采用默认高速的方法访问 --> 
  <meta name="renderer" content="webkit" /> 
  <meta name="description" content="" /> 
  <meta name="keywords" content="" /> 
  <title>排行榜－{$Think.config.sitename}</title> 
  <!-- 让IE低版本浏览器兼容html5元素，实现响应式布局 --> 
  <!--[if lt IE 9]>
      		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]--> 
 </head> 
 <body> 
  <!--　页头　--> 
  <include file="default/head"/> 
  <link rel="stylesheet" href="{$Think.config.viewdefault}/css/rank/index.css" /> 
  <!--　页头　--> 
  <div class="main">
    <table id="tab_rank">
      <tr>
        <th class="rankid">排名</th>
        <th class="nickname">昵称</th>
        <th class="numpro">正确题目数</th>
        <th class="numac">正确提交</th>
        <th class="numtotal">所有提交</th>
        <th class="ratio">正确率</th>
      </tr>
      <volist name="info_rank" id="info">
        <tr>
        <td class="rankid">{$key+1}</td>
        <td class="nickname"><a href="{:U('passport/ucenter')}?user_id={$info.user_id}">{$info.nickname}</a></td>
        <td class="numpro">{$info.num_pro}</td>
        <td class="numac">{$info.num_ac}</td>
        <td class="numtotal">{$info.num_total}</td>
        <td class="ratio">{$info.ratio}%</td>
      </tr>
      </volist>
    </table>
  </div>
  <!--　页脚　--> 
  <include file="default/foot"/> 
  <!--　页脚　-->  
  <script src="{$Think.config.viewdefault}/js/index.js"></script>
 </body>
</html>