#info{width: 100%;text-align: center;}
#info span{margin-left: 10px;}
#code{border: solid 1px #006633;text-align: center;border-radius: 15%;}
#btn_close{margin-top: 10px;margin-left: 40%;width: 20%;height: 5%;border: solid 1px;}