#info{width: 100%;text-align: center;}
#info span{margin-left: 10px;}
#code{margin-left: 15%;padding-left: 15%;width: 60%;text-align: left;border-radius: 15%;border:solid 1px #006633;}
#btn_close{margin-top: 10px;margin-left: 40%;width: 20%;height: 5%;border: solid 1px;}