<html lang="zh-cn">
<head> 
<meta charset="utf-8" /> 
<!-- 禁用IE兼容模式 --> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<!-- 响应式布局 --> 
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<!-- 使部分国产浏览器采用默认高速的方法访问 --> 
<meta name="renderer" content="webkit" /> 
<meta name="description" content="" /> 
<meta name="keywords" content="" /> 
<title>题目列表－{$Think.config.sitename}</title> 
<!-- 让IE低版本浏览器兼容html5元素，实现响应式布局 --> 
<!--[if lt IE 9]>
    		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  	<![endif]--> 
</head> 
<body>
  <!--　页头　--> 
<include file="default/head"/> 
<link rel="stylesheet" href="{$Think.config.viewdefault}/css/problem/index.css" /> 
<!--　页头　--> 
<div class="main">
<form hidden="hidden" id="serach_problem">
  <div id="search">
    <span>搜索题目</span>
    <input />
  </div>
</form>
  <table id="tab_problem">
      <tr class="tab_pro_head">
        <th class="status"></th>
        <th class="id">题目编号</th>
        <th class="title">标题</th>
        <th class="ratio">通过率</th>
        <th class="date">日期</th>
      </tr>
      <volist name="info_list" id="info_pro"> 
         <tr class="tab_pro_body">
          <td class="status">
          <?php if (1 == $info_pro["status"]): ?>
            <span class="ac">通过</span>
          <?php elseif (0 == $info_pro["status"]): ?>
            <span class="wrong">未通过</span>
          <?php endif ?>
            <span></span>
          </td>
          <td class="id"> {$info_pro.pro_id}</td>
          <td class="title"><a href="{:U('problem/detail')}?pro_id={$info_pro.pro_id}">{$info_pro.title}</a></td>
          <td class="ratio">{$info_pro.num_ratio}% ( {$info_pro.num_ac} / {$info_pro.num_total} )</td>
          <td class="date">{$info_pro.date}</td>
        </tr>
      </volist>
  </table>
</div>
  <!-- 分页代码 -->
<div id ="page">
 <?php if ($info_page["backfront"]): ?>
    <a  href="{:U('problem/index')}?page=1">
     <div class="btn_page <?php if ($i == $info_page['now']): ?>active<?php endif ?>">
     <span <?php if ($i == $info_page['now']): ?>class="active" <?php endif ?>><<</span>
     </div>
  </a>
 <?php endif ?>
<for start="$info_page['start']" end="$info_page['end']">
  <a  href="{:U('problem/index')}?page={$i}">
     <div class="btn_page <?php if ($i == $info_page['now']): ?>active<?php endif ?>">
     <span <?php if ($i == $info_page['now']): ?>class="active" <?php endif ?>>{$i}</span>
     </div>
  </a>
</for>
 <?php if ($info_page["backend"]): ?>
    <a  href="{:U('problem/index')}?page={$info_page['num_page']}">
     <div class="btn_page <?php if ($i == $info_page['now']): ?>active<?php endif ?>">
     <span <?php if ($i == $info_page['now']): ?>class="active" <?php endif ?>>>></span>
     </div>
  </a>
 <?php endif ?>
</div>
<!--　页脚　--> 
<include file="default/foot"/> 
<!--　页脚　-->  
<script src="{$Think.config.viewdefault}/js/index.js"></script>
</body>
</html>